*{
    font-family:'Courier New', Courier, monospace
}

nav {
background-color: #383E4C;
}

.headline-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    background-color: green;
    color: white;
    padding: 20px;
}